{{!--
  Reusable Course Curriculum
  Usage:
    {{> "course/curriculum" current_id=id}}
--}}

<section class="course-curriculum">
    <header class="course-curriculum-header">
        <h2 class="course-curriculum-title">Course curriculum</h2>
    </header>

    {{#if primary_tag}}

        {{#get "posts"
            filter="primary_tag:{{primary_tag.slug}}+tag:hash-lesson"
            include="tags,authors"
            order="published_at asc"
            limit="100"}}

            {{#if posts}}
                <ol class="course-curriculum-list">
                    {{#foreach posts}}
                        <li class="course-curriculum-item{{#match id ../current_id}} is-current{{/match}}">
                            <a href="{{url}}" class="course-curriculum-link">
                                <span class="course-curriculum-index">
                                    {{@number}}.
                                </span>

                                <span class="course-curriculum-text">
                                    <span class="course-curriculum-lesson-title">
                                        {{title}}
                                    </span>

                                    <span class="course-curriculum-lesson-meta">
                                        {{#if reading_time}}
                                            {{reading_time minute=(t "1 min") minutes=(t "% min")}}
                                        {{/if}}

                                        {{!-- Free / Paid badges --}}
                                        {{#has tag="hash-free"}}
                                            <span class="course-curriculum-label course-curriculum-label--free">
                                                Free
                                            </span>
                                        {{/has}}

                                        {{#has tag="hash-paid"}}
                                            <span class="course-curriculum-label course-curriculum-label--paid">
                                                Paid
                                            </span>
                                        {{/has}}
                                    </span>
                                </span>
                            </a>
                        </li>
                    {{/foreach}}
                </ol>
            {{else}}
                <p class="course-curriculum-empty">
                    Lessons will appear here once you add posts with <code>#lesson</code> for this course.
                </p>
            {{/if}}

        {{/get}}

    {{else}}
        <p class="course-curriculum-empty">
            This course has no primary tag set. Add a public course tag first.
        </p>
    {{/if}}
</section>
