{{!-- partials/adsense.hbs --}}
{{#unless @member}}

<div class="gh-ad {{#if type}}gh-ad--{{type}}{{/if}} {{#if class}}{{class}}{{/if}}">
  <div class="gh-ad-container">
    {{#match type "auto"}}
      <ins class="adsbygoogle"
           data-ad-client="ca-pub-1291242080282540"
           data-ad-slot="{{#if slot}}{{slot}}{{else}}7663977887{{/if}}"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>

    {{else match type "square"}}
      <ins class="adsbygoogle"
           data-ad-client="ca-pub-1291242080282540"
           data-ad-slot="{{#if slot}}{{slot}}{{else}}7663977887{{/if}}"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>

    {{else match type "rectangle"}}
      <ins class="adsbygoogle"
           data-ad-client="ca-pub-1291242080282540"
           data-ad-slot="{{#if slot}}{{slot}}{{else}}7663977887{{/if}}"></ins>

    {{else match type "leaderboard"}}
      <ins class="adsbygoogle"
           data-ad-client="ca-pub-1291242080282540"
           data-ad-slot="{{#if slot}}{{slot}}{{else}}8939839370{{/if}}"></ins>

    {{else match type "banner"}}
      <ins class="adsbygoogle"
           data-ad-client="ca-pub-1291242080282540"
           data-ad-slot="{{#if slot}}{{slot}}{{else}}8939839370{{/if}}"></ins>

    {{else match type "in-article"}}
      <ins class="adsbygoogle"
           data-ad-layout="in-article"
           data-ad-format="fluid"
           data-ad-client="ca-pub-1291242080282540"
           data-ad-slot="{{#if slot}}{{slot}}{{else}}6501428979{{/if}}"></ins>

    {{!-- fallback --}}
    {{else}}
      <ins class="adsbygoogle"
           data-ad-client="ca-pub-1291242080282540"
           data-ad-slot="{{#if slot}}{{slot}}{{else}}7663977887{{/if}}"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
    {{/match}}
  </div>
</div>

<script>(window.adsbygoogle = window.adsbygoogle || []).push({});</script>

{{/unless}}
