<header class="header" >
  <nav style="border-bottom: 1px solid lightgrey;" class="navbar  {{#if @custom.fixed_navbar}}is-fixed-top{{/if}}" role="navigation" aria-label="main navigation" id="mainNavbar">
      <div class="navbar-brand">
        <a class="navbar-item py-1" href="{{@site.url}}" aria-label="Homepage - {{@site.title}}">
          {{#if @site.logo}}
            <img src="{{@site.logo}}" alt="{{@site.title}} Logo">  <span class="has-text-weight-bold is-size-6 has-text-dark">{{@site.title}}</span>
          {{else}}
            <span class="has-text-weight-bold is-size-3 has-text-white">{{@site.title}}</span>
          {{/if}}
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuMain">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarMenuMain" class="navbar-menu">
        <div class="navbar-start" style="margin: 0 auto;">
          {{!-- Category Dropdown (Top 5 Tags) --}}
          <div class="navbar-item has-dropdown is-hoverable mr-5 " id="categoryDropdownContainer">
            <a class="navbar-link  has-text-primary has-text-weight-bold">
              <span class="icon-text">
                <span class="icon"><i class="ph-duotone ph-squares-four"></i></span>
                <span>Topics</span> {{!-- Changed from Categories for brevity --}}
              </span>
            </a>
            <div class="navbar-dropdown is-boxed">
              <p class="navbar-item has-text-weight-semibold is-size-7 has-text-grey">TOP TOPICS</p>
              <hr class="navbar-divider mt-0 mb-1">
              {{#get "tags" limit="5" include="count.posts" order="count.posts desc"}}
                {{#if tags}}
                  {{#foreach tags}}
                    <a href="{{url}}" class="navbar-item" title="View posts tagged with {{name}}">
                      <span class="icon-text">
                        <span>{{name}}</span>
                        <span class="tag is-light is-rounded is-pulled-right">{{count.posts}}</span>
                      </span>
                    </a>
                  {{/foreach}}
                {{else}}
                  <div class="navbar-item">No topics found.</div>
                {{/if}}
              {{/get}}
              <hr class="navbar-divider mt-1 mb-0">
              <a href="/tags/" class="navbar-item has-text-link has-text-weight-medium">
                <span class="icon-text">
                  <span class="icon"><i class="ph-duotone ph-tag-simple"></i></span>
                  <span>View All Topics</span>
                </span>
              </a>
            </div>
          </div>
          {{!-- Main Navigation (JS will add icons) --}}
          {{navigation type="primary" active_class="is-active"}}
        </div>

        <div class="navbar-end">
          {{!-- Search (More prominent) --}}
           <div class="navbar-item">
            <a href="/search/" class="  has-tooltip-bottom" data-tooltip="Search Site" aria-label="Search">
              <span class="icon"><i class="ph-duotone ph-magnifying-glass is-size-5"></i></span>
            </a>
          </div>

          {{!-- GitHub Link (as an icon button) --}}
          <a href="https://github.com/YOUR_USERNAME_HERE" target="_blank" rel="noopener noreferrer" class="navbar-item has-text-white has-tooltip-bottom" data-tooltip="GitHub Profile" aria-label="GitHub Profile">
            <span class="icon is-medium has-text-dark"><i class="ph-duotone ph-github-logo is-size-4"></i></span>
          </a>
            {{!-- Sign In/Account CTA --}}
          {{#if @member}}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-arrowless has-tooltip-bottom" data-tooltip="My Account" aria-label="My Account">
                <span class="icon is-medium"><i class="ph-duotone ph-user-circle is-size-4"></i></span>
                <span class="is-hidden-touch is-hidden-desktop-only ml-1 has-text-weight-medium">{{@member.name}}</span>
              </a>
              <div class="navbar-dropdown is-right is-boxed">
                <p class="navbar-item has-text-weight-semibold is-size-7 has-text-grey">WELCOME, {{@member.name}}</p>
                <hr class="navbar-divider mt-0 mb-1">
                <a href="/account/" class="navbar-item">
                    <span class="icon-text"><span class="icon"><i class="ph-duotone ph-identification-card"></i></span><span>My Account</span></span>
                </a>
                {{#if @site.paid_members_enabled}}
                <a href="/account/plans/" class="navbar-item">
                   <span class="icon-text"><span class="icon"><i class="ph-duotone ph-rocket-launch"></i></span><span>Upgrade Plan</span></span>
                </a>
                {{/if}}
                <hr class="navbar-divider">
                <a href="javascript:void(0);" data-members-signout class="navbar-item has-text-danger">
                    <span class="icon-text"><span class="icon"><i class="ph-duotone ph-sign-out"></i></span><span>Sign Out</span></span>
                </a>
              </div>
            </div>
          {{else}}
            {{#if @site.members_enabled}}
              <div class="navbar-item">
                <a href="/signin/" class="button is-primary is-small is-rounded">
                  <span class="icon"><i class="ph-duotone ph-sign-in"></i></span>
                  <span>Sign In</span>
                </a>
              </div>
            {{/if}}
          {{/if}}

        </div>
      </div>
  </nav>
</header>
