<!DOCTYPE html>
<html lang="{{@site.locale}}" class="{{#if @custom.fixed_navbar}}has-navbar-fixed-top{{/if}}">
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    
    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset 'css/app.min.css'}}" />
    <link rel="manifest" href="{{asset '/manifest.webmanifest'}}">
  
    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset 'css/app.min.css'}}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/duotone/style.css"/>
    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{!-- Icons --}}
    <div class="is-hidden">
      {{> icon-sprite}}
    </div>
    {{> header}}
    <main class="main">
      {{{body}}}
    </main>

   {{!-- The footer at the very bottom --}}
    {{> footer}}

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

    {{!-- Main theme scripts --}}
    <script async src="{{asset 'js/app.min.js'}}"></script>
    {{!-- Service Worker for PWA --}}
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/sw.js');
    });
  }

  
</script>
  </body>
</html>
