{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#contentFor "body-class"}} page-home{{/contentFor}}



{{!-- Home hero (works from a page with the slug home-nero). --}}
{{#> "settings/home-hero"}}
	{{> "sections/home-hero" hide_subscription=false}}
{{/"settings/home-hero"}}


{{!-- Top-of-page leaderboard ad --}}
<div class="container-wide">
    {{> "adsense" type="leaderboard"}}
</div>

{{!-- Posts. --}}
{{#> get-posts}}
	{{> "sections/posts" title=(t "Latest") is_home=true}}
{{/get-posts}}

{{!-- Between posts and authors: medium rectangle / fluid-ish display --}}
<div class="container-wide home-ad-between-sections">
    {{> "adsense" type="leaderboard" }}
</div>

{{!-- Authors. --}}
{{#get "authors" limit=10 include="count.posts" order="count.posts DESC"}}
	{{#if authors}}
		<section class="section section-authors">
			<div class="section-head">
				<h2 class="section-title">{{t "Our Authors"}}</h2>
			</div>

			{{#match (t "/authors/") "!=" "false"}}
			<a class="section-button button button-sm button-background-200" href="{{t "/authors/"}}">
				<span class="label">{{t "All Authors"}}</span>
				{{> "icons/arrow-narrow-right"}}
			</a>
			{{/match}}

			{{#> "components/carousel-cards" cards=authors class="slider-cards-author"}}
				{{> "components/card-author"}}
			{{/"components/carousel-cards"}}

            {{!-- Ad under authors carousel: slim banner --}}
            <div class="section-ad section-ad--authors">
                {{> "adsense" type="leaderboard" }}
            </div>
		</section>
	{{/if}}
{{/get}}

{{!-- Subscription. --}}
{{> "sections/subscription"}}

{{!-- Tags sections. --}}
{{#> "get-tags" setting=@custom.tags_list_sections}}
	{{#foreach tags}}
		<section class="section section-tag">
			<div class="section-head">
				<h2 class="section-title">
                    <a href="{{url}}">{{name}}</a>
                    <span class="title-tag-dot" {{#if accent_color}}style="color:{{accent_color}};"{{/if}}></span>
                </h2>
				{{#if description}}
					<p>{{description}}</p>
				{{/if}}
			</div>

			<a href="{{url}}" class="section-button button button-sm button-background-200">
				<span class="label">{{t "View {tag}" tag=name}}</span>
				{{> "icons/arrow-narrow-right"}}
			</a>

            {{!-- Inline section ad for each tag block: fluid/responsive --}}
            <div class="section-ad section-ad--tag">
                {{> "adsense" type="leaderboard" }}
            </div>

			{{#get "posts" limit=10 filter="tags:{{slug}}" include="authors,tags,tiers"}}
				{{> "components/carousel-posts"}}
			{{/get}}
		</section>
	{{/foreach}}
{{/"get-tags"}}

{{!-- Recommendations. --}}
{{#match @site.recommendations_enabled}}
	<section class="section section-recommendations">
		<div class="section-head">
			<h2>{{t "Recommendations"}}</h2>
		</div>

		{{#match (t "/recommendations/") "!=" "false"}}
		<a class="button button-sm button-background-200 section-button" href="{{t "/recommendations/"}}">
			<span class="label">{{t "All Recommendations"}}</span>
			{{> "icons/arrow-narrow-right"}}
		</a>
		{{/match}}

		{{recommendations limit=12}}

        {{!-- Bottom-of-page ad: auto/relaxed layout --}}
        <div class="section-ad section-ad--recommendations">
            {{> "adsense" type="leaderboard" }}
        </div>
	</section>
{{/match}}
