{{!< default}}

{{#post}}

    {{!-- 1. COURSES & LESSONS --}}
    {{#has tag="#course"}}
        {{> "post/post-course"}}
    {{else has tag="#lesson"}}
        {{> "post/post-lesson"}}

    {{!-- 2. WEB SERIES & EPISODES --}}
    {{else has tag="#webseries"}}
        {{> "post/post-webseries"}}
    {{else has tag="#episode"}}
        {{> "post/post-episode"}}

    {{!-- 3. VIDEOS --}}
    {{else has tag="#video"}}
        {{> "post/post-video"}}

    {{!-- 4. PROJECTS --}}
    {{else has tag="#project"}}
        {{> "post/post-project"}}

    {{!-- 5. STANDARD BLOG POST (Fallback) --}}
    {{else}}
        {{#contentFor "body-class"}} post-template-default{{#> "with-sidebar"}} post-has-sidebar{{/"with-sidebar"}}{{#unless access}} post-locked{{/unless}}{{/contentFor}}

        <header class="post-header container-wide">
            <div class="post-header-info">
                <h1 class="post-title">{{title}}</h1>
                <ul class="post-meta">
                    {{#if authors}}
                        {{> "post/meta-author"}}
                        <li class="separator">&bull;</li>
                    {{/if}}
                    <li>
                        <time class="post-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
                    </li>
                    {{#if reading_time}}
                    <li class="separator">&bull;</li>
                    <li>
                        <span class="post-meta-time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                    </li>
                    {{/if}}
                </ul>
            </div>

            <div class="post-header-buttons">
                {{> "post/button-comments"}}
                {{> "post/button-share"}}
            </div>
        </header>

        {{> "post/media"}}
        {{> "post/content"}}
        {{> "post/read-next"}}
        {{> "sections/subscription"}}
        {{> "post/comments"}}
    {{/has}}

{{/post}}